.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding: 10px;
	height: 45px;
	transition: all 0.3s ease-in;
}

.item:hover {
	background-color: #e8e8e8;
}

.input {
	background-color: transparent;
	font-size: 16px;
	padding: 0;
	height: 100%;
	width: calc(100% - 70px);
	font-family: inherit;
}

.text {
	height: 100%;
	font-size: 16px;
	width: calc(100% - 70px);
}

.tools {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 60px;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	width: 25px;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	border: none;
}

.edit svg {
	width: 15px;
}

.delete svg {
	width: 25px;
	height: 25px;
	fill: none;
	stroke: #000;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 2px;
	transform: rotate(45deg);
}
