.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	height: 45px;
	transition: all 0.3s ease-in;
}

.item:hover {
	background-color: #e8e8e8;
}

.input {
	background-color: transparent;
	font-size: 16px;
	padding: 0;
	height: 100%;
	width: calc(100% - 70px);
	font-family: inherit;
}

.link {
	padding: 10px;
	height: 100%;
	font-size: 16px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	color: #000;
}

.task {
	min-height: 70px;
	padding: 10px;
	background-color: rgba(128, 128, 128, 0.3);
	border-radius: 15px;
}

.text {
	cursor: default;
}

.btns {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
